.depoimentos-background {
  padding: 80px 40px 120px 40px;
  position: relative;
}

.introducao-texto.depoimentos {
  align-items: flex-start;
}

/* Container principal para alinhar os cards lado a lado */
.depoimentos-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap; /* Para adaptar no mobile */
}

/* Cada card de depoimento */
.depoimento-card {
  background-color: var(--bg-cinza);
  border-radius: 20px;
  padding: 20px;
  width: calc(50% - 20px); /* Dois cards por linha com espaçamento */
  min-height: 400px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative; /* Necessário para fixar o nome no bottom */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Certifique-se de que apenas o slide ativo é visível */
.swiper-container {
  width: 100%;
  overflow: hidden; /* Garante que os slides fora de vista sejam ocultados */
}

/* Wrapper dos slides */
.swiper-wrapper {
  display: flex;
  transition-timing-function: ease-in-out;
}

/* Estilo para cada slide do Swiper */
.swiper-slide {
  display: flex;
  flex-direction: column; /* Alinha os elementos na vertical (um embaixo do outro) */
  justify-content: center;
  align-items: flex-start; /* Alinha os parágrafos à esquerda */
  width: 100%; /* Cada slide ocupa 100% do container */
  padding: 20px;
  box-sizing: border-box;
  min-height: 480px; /* Altura mínima dos slides */
}

.swiper-slide p {
  font: 300 1rem/1.6 'OpenSans', sans-serif;
  color: var(--roxo);
  display: block; /* Garante que os parágrafos fiquem um abaixo do outro */
  margin-bottom: 10px; /* Espaçamento entre os parágrafos */
  text-align: left;
}

.fonte-grande {
  font: 400 1.2rem/1.6 'OpenDyslexic', sans-serif !important;
  color: var(--roxo) !important;
  display: block;
  margin-bottom: 10px;
  text-align: center !important;
}

#highlight-depoimento {
  background-color: var(--rosa); /* Cor de fundo para destacar */
  font-weight: bold; /* Texto em negrito */
  padding: 5px; /* Espaçamento interno ao redor do texto */
  border-radius: 5px; /* Borda arredondada */
  display: inline-block; /* Garante que o espaçamento e borda funcionem bem */
}

/* Estilo para o slide ativo (com aspas grandes) */
.swiper-slide-active {
  position: relative; /* Necessário para os pseudo-elementos se posicionarem em relação ao slide */
}

.swiper-slide-active::before {
  content: '“'; /* Aspas de abertura */
  font: 600 120px 'OpenSans',sans-serif;
  color: var(--verde-claro); /* Cor das aspas */
  position: absolute;
  top: 0px; /* Posição no canto superior esquerdo */
  left: 0px;
}

.swiper-slide-active::after {
  content: '”'; /* Aspas de fechamento */
  font: 600 120px 'OpenSans',sans-serif;
  color: var(--verde-claro); /* Cor das aspas */
  position: absolute;
  bottom: 50px; /* Posição no canto inferior direito */
  right: 0px;
  height: 80px;
}

/* Botões de navegação */
.swiper-button-next,
.swiper-button-prev {
  z-index: 1;
  width: 24px; /* Ajuste o tamanho da largura */
  height: 24px; /* Ajuste o tamanho da altura */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.7;
}

/* Posiciona o botão "próximo" à direita */
.swiper-button-next {
  right: 5px;
}

/* Posiciona o botão "anterior" à esquerda */
.swiper-button-prev {
  left: 5px;
}

/* Ajuste ao passar o mouse sobre as setas */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
}

.swiper-button-prev:after, .swiper-button-next:after {
  font-size: 20px;
  color: var(--roxo);
}

/* Nome do cliente fixo no rodapé do card */
.nome-depoimento {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.nome-depoimento h2 {
  font: 300 1rem/1.2 'OpenSans',sans-serif;
  color: var(--roxo);
}

.nome-depoimento p {
  font: 300 0.8rem/1.2 'OpenSans',sans-serif;
  color: var(--textwhite  );
  text-align: center;
  background-color: var(--lilas-claro); /* Cor de fundo para destacar */
  font-weight: bold; /* Texto em negrito */
  padding: 5px; /* Espaçamento interno ao redor do texto */
  border-radius: 5px; /* Borda arredondada */
  display: inline-block; /* Garante que o espaçamento e borda funcionem bem */
}

.privacy-notice {
  position: absolute;
  bottom: 80px;
  right: 60px;
  font: 300 0.8rem/1.2 'OpenSans', sans-serif;
  color: var(--roxo);
}

.privacy-disclaimer {
  margin: 0; /* Remove a margem padrão do parágrafo */
}


.parceiros-background {
  background-color: var(--bg-cinza);
  padding: 80px 20px;
  position: relative;
}

.parceiros {
 display: flex;
 flex-direction: column;
 gap: 24px;
}

.parceiros h2 {
  color: var(--roxo);
  font: 600 2rem/1.2 'OpenSans',sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.logos-parceiros {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.logos-parceiros img {
 border-radius: 10px;
}


/* Responsividade */
@media (max-width: 768px) {

  .introducao-texto.depoimentos {
    margin-top: 40px;
    align-items: center
  }

  .depoimentos-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .depoimentos-background {
    padding: 0 10px;
  }

  .depoimentos-container.container {
    padding: 60px 10px 120px 10px;
  }

  .depoimento-card {
    width: 100%;
  }
  
  .swiper-container {
    min-height: 200px; /* Ajusta a altura mínima dos slides no mobile */
  }

  .swiper-slide p {
    font: 300 0.8rem/1.6 'OpenSans', sans-serif;
    color: var(--roxo);
    display: block; /* Garante que os parágrafos fiquem um abaixo do outro */
    margin-bottom: 10px; /* Espaçamento entre os parágrafos */
    text-align: left;
  }
  
  .fonte-grande {
    font: 400 1rem/1.6 'OpenDyslexic', sans-serif !important;
    color: var(--roxo) !important;
    display: block;
    margin-bottom: 10px;
    text-align: center !important;
  }

  .nome-depoimento h2 {
    font: 300 0.8rem/1.2 'OpenSans',sans-serif;
  }

  .privacy-notice {
    position: absolute;
    bottom: 60px;
    left: 20px;
  }

  .parceiros-background {
    padding: 60px 20px;
  }

  /* .logos-parceiros img {
    width: 100%;
  } */
}
