.texto-embreve p {
line-height: 1.4;
max-width: 66ch;}

.link-insta {
  text-decoration: none;
  font-weight: 800;
  color: #A6727C;
  position: relative;
  display: inline-block;
}

.link-insta::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.4px; /* Espessura da linha */
  background-color: #A6727C; /* Cor da linha */
  bottom: -4px; /* Posição da linha abaixo do texto */
  left: 0;
  transform: scaleX(0); /* Começa sem a linha visível */
  transform-origin: bottom left;
  transition: transform 0.3s ease-in-out; /* Animação suave ao passar o mouse */
}

.link-insta:hover::before {
  transform: scaleX(1);
  transform-origin: bottom right; /* Animação inicia da esquerda para a direita */
}