.frase-back {
  padding: 40px 0;
  background-color: var(--rosa);
  display: flex;
  flex-direction: row;
  gap: 60px;
  position: relative;
}

.frase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frase p {
  font: bold 1.4rem/1.6 'OpenDyslexic', sans-serif;
  text-align: center;
  color: var(--roxo);
  max-width: 60ch;
}