body, h1, h2, h3, h4, p, ul, li, a {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p, ul, li, a {
  will-change: opacity, transform;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

button {
  all: unset;
}

body {
  overflow-x: hidden;
}

#bg-cinza {
  background-color: var(--bg-cinza);
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px; /* Largura máxima do container */
  margin: 0 auto;
  width: 100%; /* Faz o container ocupar toda a largura disponível */
  padding: 0 20px; /* Espaço interno do container */
  box-sizing: border-box; /* Inclui padding na largura total */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('../fonts/OpenDyslexic-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('../fonts/OpenDyslexic-Bold.otf') format('opentype');
  font-weight: bold; /* ou use 700 se preferir */
  font-style: normal;
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap; /* Adiciona suporte para espaçamento em branco */
}

.hidden-img {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 0;
  height: 0;
}
/* Estilo para o ícone flutuante do WhatsApp */
.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-color: var(--verde-claro);
  border-radius: 50px;
  text-align: center;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4); /* Sombra mais suave */
  z-index: 1000;
  padding: 18px;
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Adiciona transição suave */
}

.whatsapp-float.hidden {
  opacity: 0; /* Torna o ícone invisível */
  pointer-events: none; /* Desativa os eventos de clique */
}

/* Efeito de hover */
.whatsapp-float:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* Sombra mais pronunciada ao passar o mouse */
  transform: scale(1.1); /* Aumenta o tamanho do ícone */
}

.whatsapp-icon {
  width: 100%;
  height: 100%;
}