.header {
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  border-bottom: 0.5px solid var(--bg);
  position: fixed;
  top: 0;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.header_menu {
  box-sizing: border-box;
  height: 100%;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

[data-menu="logo"] {
  width: 25%;    /* Largura é 50% do seu contêiner */
  height: auto;  /* Altura ajusta automaticamente para manter a proporção */
}

nav.menu {
  display: flex;
  align-items: center; /* Alinha os itens do menu verticalmente */
  justify-content: flex-end; /* Alinha os itens à direita */
  /* width: 100%;  */
}

ul[data-menu="list"] {
  display: flex; 
  list-style: none;
  padding: 0; 
  /* margin-right: 20px;  */
}

.menu ul {
  display: flex;
  gap: 1.4rem;
  align-items: center;
  }

.menu  li {
  align-self: center;
}

.menu a {
  color: var(--roxo);
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 10px 8px;
  position: relative;     
  line-height: 1; /* Reduz o line-height para remover espaços extras */
}

.menu a:hover {
  opacity: 0.6;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-icons-header {
  display: flex;
  gap: 0.8rem; 
}

.social-icons-header a {
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 768px) { 
  .header {
    position: fixed; /* Mantém o cabeçalho fixo no topo */
    width: 100%; /* Ocupa a largura total da tela */
    background-color: none;
    z-index: 10; /* Garante que o cabeçalho fique acima de outros elementos */
    top: 0; /* Alinha o cabeçalho ao topo da página */
    left: 0; /* Alinha o cabeçalho à esquerda da página */
    border-bottom: 1px solid var(--bg);
  }

  [data-menu="logo"] {
    width: 70%;    /* Largura é 50% do seu contêiner */
  }

  .header a > img {
    width: 100%;
  }

  .header_menu {
    padding: 0.5rem 0;
  }

  .menu-button {
    display: none;
  }
}


