.introducao.pg-interna {
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  height: 50vh; /* Ajusta a altura para 50% da altura da tela */
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; /* Permite o posicionamento absoluto dos elementos filhos */
  overflow: hidden; /* Garante que o filtro não transborde da seção */
}

.introducao .wave-bottom, .introducao .wave-bottom-intro  {
  position: absolute;
  bottom: -10px; 
  left: 0;
  width: 100%;
  height: auto;
  z-index: 2; /* Fica acima da imagem de fundo */
  overflow: hidden;
}

.introducao.pg-interna::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgb(94, 74, 128);  */
  background-color: rgba(52, 40, 64, 0.9);  ;
  mix-blend-mode: multiply; /* Define o modo de mistura desejado */
  z-index: 1; /* Fica atrás do texto, mas acima da imagem de fundo */
  pointer-events: none; /* Garante que o filtro não interfira em interações do usuário */
}

.introducao.pg-interna::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit; /* Usa a mesma imagem de fundo */
  background-size: inherit;
  background-position: inherit;
  background-repeat: inherit;
  background-attachment: inherit;
  /* filter: grayscale(50%);  */
  background-color: rgba(52, 40, 64, 0.9);  ;
  z-index: 0; /* Fica atrás da cor roxa e do texto */
}

.introducao-texto.pg-interna {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centraliza o texto verticalmente dentro do container */
  align-items: flex-start; /* Alinha o texto à esquerda */
  gap: 4px;
  padding: 0 20px;
  z-index: 2; /* Garante que o texto apareça sobre a imagem */
  max-width: 1200px; /* Ajusta o tamanho máximo do container para centralizar */
  width: 100%; /* Garante que o conteúdo não ultrapasse os limites do container */
  position: relative; /* Mantém o texto na hierarquia correta */
  transform: translateY(8px); 
}

.programa__badge {
  font: 600 0.75rem/1 'OpenSans', sans-serif;
  color: var(--roxo);
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: var(--textwhite);
  padding: 6px 12px;
  z-index: 2; /* Mantém o badge visível sobre o fundo */
}

.wave-text.pg-interna {
  font-size: 3.4rem;
  font-weight: normal;
  font-family: 'OpenDyslexic';
  color: var(--textwhite);
  text-align: left;
  z-index: 2; /* Mantém o texto visível sobre o fundo */
  max-width: none;
}

@media (max-width: 768px) { 
  .introducao .wave-bottom {
    bottom: -5px; 
  }

  .introducao-texto.pg-interna {
    transform: translateY(50px); 
  }
}
