/* #manifesto {
  background-color: var(--bg-cinza);
} */
.manifesto {
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.manifesto-texto {
  background-color: #fff;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.manifesto-texto p {
  font: 300 1rem/1.4 'OpenSans', sans-serif;
  color: var(--roxo);
}