.pg-servicos-equipe {
  padding: 80px 20px;
  display: flex; 
  align-items: flex-end; 
  position: relative; 
}

.contrucao-programas {
  flex: 1; /* O conteúdo principal ocupa o espaço restante */
}

.construcao-programas h2 {
  color: var(--roxo);
  font: 600 1.6rem/1.2 'OpenSans',sans-serif;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.construcao-programas li {
  position: relative;
  padding-left: 30px; /* Espaço à esquerda para o bullet customizado */
  font: 400 1rem/1.6 'OpenSans',sans-serif;
  align-items: center;
  color: var(--roxo);
  display: flex;
  font: 400 1rem/1.6 'OpenSans',sans-serif;
  margin-bottom: .5rem;
}

.construcao-programas li::before {
  content: '•'; /* Bullet customizado */
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px; /* Tamanho do bullet */
  color: var(--lilas-claro); /* Cor do bullet */
  line-height: 1.2; /* Alinhamento do bullet com o texto */
}

.svg-processo {
  width: 450px;
  position: absolute;
  bottom: 0; 
  right: 0; 
}

.seguranca-psicologica-fundo {
  background-color: var(--bg-cinza);
}

.seguranca-psicologica {
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.seguranca-psicologica h2 {
  color: var(--roxo);
  font: 600 1.6rem/1.2 'OpenSans',sans-serif;
  text-transform: uppercase;
}

.seguranca-psicologica-lista {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.seguranca-psicologica li {
  padding: 0;
}

.seguranca-psicologica-lista li a {
  font: 600 1rem/1.6 'OpenSans', sans-serif;
  display: flex; /* Adiciona flexbox para centralizar o conteúdo */
  align-items: center; /* Centraliza verticalmente */
  justify-content: space-between; /* Espaça o texto e o ícone */
  color: var(--roxo);
  position: relative;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  cursor: pointer;
  text-decoration: none;
  width: auto; /* Define a largura automática para desktop */
  max-width: 300px; /* Define uma largura máxima para desktop */
  padding: 10px 15px; /* Ajusta o padding para um espaçamento uniforme */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Adiciona transição para a sombra */
}

.seguranca-psicologica-lista li a::after {
  content: url('../img/seta-direita-lilas.svg');
  width: 24px;
  height: 24px;
}

.seguranca-psicologica-lista li a:hover {
  transform: translateX(3px); /* Efeito de mover o item para a direita no hover */
  box-shadow: 0 4px 10px rgba(0, 0, 0, .2); /* Adiciona uma sombra mais pronunciada no hover */
}

@media (max-width: 768px) {
  .pg-servicos-equipe {
    padding: 60px 20px 0px 20px;
    flex-direction: column;
    gap: 20px;
  }

  .seguranca-psicologica {
    padding: 60px 20px;
  }

  .construcao-programas h2, .seguranca-psicologica h2 {
    font: 600 1.4rem/1.2 'OpenSans',sans-serif;
    text-align: center;
  }

  .svg-processo {
    position: static; /* Retira o posicionamento absoluto no mobile */
    display: block;
    margin: 0 auto; /* Centraliza horizontalmente a imagem */
    width: 100%; /* Ajusta a largura da imagem para caber no mobile */
    height: 500px;
    bottom: 0;
    left: 50%;
  }

  .seguranca-psicologica-lista li a {
    width: 100%; /* Garante que o link ocupe 100% do contêiner no mobile */
    margin: 0 auto; /* Centraliza o link horizontalmente */
    max-width: none;
  }
}