/* .contrucao-programas  {
  display: flex;
  flex-direction: column;
  gap: 20px;
} */

.pg-servicos-equipe {
  padding: 80px 20px;
  display: flex; 
  align-items: flex-end; 
  position: relative; 
}

.contrucao-programas {
  flex: 1; /* O conteúdo principal ocupa o espaço restante */
}

.construcao-programas h2 {
  color: var(--roxo);
  font: 600 1.6rem/1.2 OpenSans,sans-serif;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.construcao-programas li {
  position: relative;
  padding-left: 30px; /* Espaço à esquerda para o bullet customizado */
  font: 400 1rem/1.6 OpenSans,sans-serif;
  align-items: center;
  color: var(--roxo);
  display: flex;
  font: 400 1rem/1.6 OpenSans,sans-serif;
  margin-bottom: .5rem;
}

.construcao-programas li::before {
  content: '•'; /* Bullet customizado */
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px; /* Tamanho do bullet */
  color: var(--lilas-claro); /* Cor do bullet */
  line-height: 1.2; /* Alinhamento do bullet com o texto */
}

.svg-processo {
  width: 450px;
  position: absolute;
  bottom: 0; 
  right: 0; 
}

.seguranca-psicologica-fundo {
  background-color: var(--bg-cinza);
  padding: 80px 20px;
}

.seguranca-psicologica h2 {
  color: var(--roxo);
  font: 600 1.6rem/1.2 OpenSans,sans-serif;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.seguranca-psicologica-lista  {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.seguranca-psicologica-lista li  {
  font: 400 1.2rem/1.6 OpenSans, sans-serif;
  align-items: center;
  color: var(--roxo);
  position: relative; /* Necessário para o pseudo-elemento 'after' */
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  cursor: pointer;
  overflow: hidden;
  padding: 0; /* Reseta o padding para o li */
  width: 16vw;
  transition: transform 0.2s ease-in-out; /* Transições para transformações e mudanças de cor */
}

.seguranca-psicologica-lista li a {
  color: inherit;
  display: block;
  padding: 6px 15px;
  text-decoration: none;
  width: 100%;
}

.seguranca-psicologica-lista li::after {
  content: url('../img/seta-direita-lilas.svg');
  position: absolute;
  right: 10px; /* Posiciona a seta à direita do link */
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.seguranca-psicologica-lista li:hover {
  transform: translateX(-3px); /* Efeito de mover o item para a direita no hover */
}
