
.pg-servicos-back {
 /* background: linear-gradient(to right, #ffffff 50%, #f5f5fa 50%);
  background-clip: padding-box;; */
  background-color: #f5f5fa;
}
.pg-servicos {
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
}

.pg-servicos-titulo span {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  color: var(--verde-claro);
  text-transform: uppercase;
  display: block;
  margin-bottom: 0.5rem;
}

.pg-servicos-titulo h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--roxo);
  margin-bottom: 2rem;
}

.pg-servicos-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.pg-servico {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  flex: 1;
  background-color: #fff;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pg-servico-conteudo {
  display:flex;
  flex-direction: column;
  gap:40px;
}

.titulo-lista {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pg-servico-titulo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.pg-servico-icone {
  width: 40px;
  height: 40px;
}

.pg-servico h3 {
  font: 600 1.4rem/2 'OpenSans', sans-serif;
  letter-spacing: 2px;
  color: var(--roxo);
  text-transform: uppercase;
}

.pg-servico-lista {
  list-style: none;
  padding-left: 0;
}

.pg-servico-lista li {
  font: 400 1rem/1.6 'OpenSans',sans-serif;
  color: var(--roxo);
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem; /* Espaço entre os itens da lista */
}

.pg-servico-lista li::before {
  content: '✔'; /* Adiciona um ícone de checkmark */
  color: var(--verde-claro); /* Cor do ícone */
  margin-right: 8px; /* Espaçamento entre o ícone e o texto */
  font-size: 1.2em; /* Tamanho do ícone */
  vertical-align: middle; /* Alinhamento vertical */
}
.pg-servicos-pq-fazer {
  flex: 2;  
}

.pg-servicos-pq-fazer h4{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  color: #333; /* Cor elegante e neutra */
  margin-bottom: 1rem;
  padding-left: 0.5rem; /* Leve indentação para destaque */
  border-left: 4px solid #537322; /* Barra lateral para destacar a pergunta */
}

.pg-servicos-respostas {
  list-style: none;
  padding-left: 1rem;
  margin: 0;
}

.pg-servicos-respostas li {
  font: 300 1rem/1.6 'OpenSans',sans-serif;
  color: var(--roxo); /* Cor suave e legível */
  margin-bottom: 0.5rem; /* Espaçamento entre as respostas */
  position: relative;
  padding-left: 1.5rem;
}

.pg-servicos-respostas li::before {
  content: '\2022'; /* Ponto como marcador */
  font-size: 1rem;
  color: #537322; /* Cor correspondente à barra da pergunta */
  position: absolute;
  left: 0;
  top: 0;
}

.btn-pg-servico {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  white-space: nowrap;
  width: fit-content;
  background-color: var(--verde-claro);
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 50px;
}

.btn-pg-servico:hover {
  background-color: var(--verde-escuro);
  transform: scale(1.05);
}

@media (max-width: 768px) {

  .pg-servico-titulo {
  flex-direction: column;
  }

  .pg-servico-icone {
    width: 64px;
    height: 64px;
  }
}