
.seguranca-psicologica-programa {
  padding: 80px 20px;
  display: flex;
  gap: 80px;
}

.seguranca-psicologica-conteudo {
  flex: 1;
}

.seguranca-psicologica-conteudo h2 {
  color: var(--roxo);
  font: 600 1.6rem/1.2 OpenSans,sans-serif;
  text-transform: uppercase;
  margin-bottom: 5px;
}


.seguranca-psicologica-conteudo p {
  color: var(--roxo);
  font: 300 1rem/1.2 OpenSans,sans-serif;
  margin-bottom: 40px;
}

.seguranca-psicologica-conteudo h3 {
  color: var(--verde-claro);
  font: 600 1rem/1.2 OpenSans,sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.seguranca-psicologica-conteudo li {
  position: relative;
  padding-left: 30px; /* Espaço à esquerda para o bullet customizado */
  font: 400 1rem/1.4 OpenSans,sans-serif;
  align-items: center;
  color: var(--roxo);
  display: flex;
  font: 400 1rem/1.6 OpenSans,sans-serif;
  margin-bottom: .8rem;
}

.seguranca-psicologica-conteudo li::before {
  content: '•'; /* Bullet customizado */
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px; /* Tamanho do bullet */
  color: var(--verde-claro); /* Cor do bullet */
  line-height: 1.4; /* Alinhamento do bullet com o texto */
}

.svg-seguranca-psicologica-programa {
  flex: 1;
  width: 20%; /* Diminui a imagem para 20% do espaço disponível */
  max-width: 480px; /* Define um tamanho máximo em pixels, opcional */
}