.pg-seguranca-psicologica {
  display: flex;
  padding: 80px 20px;
  gap: 80px;
}

.seguranca-psicologica-programa {
  display: flex;
  flex-direction: column;
}

.equipesText {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1;
}

#equipesTitle {
  color: var(--roxo);
  font: 600 1.6rem/1.2 'OpenSans',sans-serif;
  text-transform: uppercase;
  margin-bottom: 5px;
}


#equipesDescription {
  color: var(--roxo);
  font: 300 1rem/1.2 'OpenSans',sans-serif;
}

#equipesStepsTitle {
  color: var(--verde-claro);
  font: 600 1rem/1.2 'OpenSans',sans-serif;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#equipesSteps li {
  position: relative;
  padding-left: 30px; /* Espaço à esquerda para o bullet customizado */
  font: 400 1rem/1.4 'OpenSans',sans-serif;
  align-items: center;
  color: var(--roxo);
  font: 400 1rem/1.6 'OpenSans',sans-serif;
  margin-bottom: .8rem;
}

#equipesSteps li::before {
  content: '•'; /* Bullet customizado */
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px; /* Tamanho do bullet */
  color: var(--verde-claro); /* Cor do bullet */
  line-height: 1.4; /* Alinhamento do bullet com o texto */
}

.svg-seguranca-psicologica-programa {
  flex: 1;
  width: 20%; /* Diminui a imagem para 20% do espaço disponível */
  height: auto;
  object-fit: contain; /* Mantém as proporções da imagem */
}

@media (max-width: 768px) { 
  .pg-seguranca-psicologica {
    display: flex;
   flex-direction: column;
   gap: 40px
  }

  .svg-seguranca-psicologica-programa {
    flex: 1;
    width: 100%; 
    max-width: none; 
  }

}