.sobre-2-back {
  padding: 120px 20px;
  background-color: var(--bg-cinza);
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.sobre-2 {
  display: flex;
  gap: 80px;
}

.valores {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 20px
}

.valores h2 {
  font: 600 2rem/1.2 'OpenSans', sans-serif;
  color: var(--roxo);
  max-width: 28ch;
}

.valores p {
  font: 300 1rem/1.6 'OpenSans', sans-serif;
  color: var(--roxo);
}

.principios-conteudo {
  flex: 1;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.principios-conteudo h3 {
  font: 600 1rem/1.2 'OpenSans', sans-serif;
  letter-spacing: 1px;
  color: var(--roxo);
  text-transform: uppercase;
}

.lista-principios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.lista-principios li {
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal 1rem/1.2 'OpenDyslexic', sans-serif;
  color: var(--textwhite);
  padding: 24px 12px;
  border-radius: 50px;
  text-align: center;
  min-height: 60px;
}

.lista-principios li:nth-child(1),
.lista-principios li:nth-child(4)  {
  background-color: var(--verde-escuro);
}

.lista-principios li:nth-child(2),
.lista-principios li:nth-child(3)  {
  background-color: var(--verde-claro);
}

@media (max-width: 768px) { 

  .sobre-2-back {
    padding: 60px 10px;
  }

  .sobre-2 {
    flex-direction: column;
    gap: 40px;
  }

  .valores h2 {
   text-align: center;
    max-width: none;
  }

  .principios-conteudo h3 {
    text-align: center;
  }

  .lista-principios li {
    padding: 12px 12px;
  }
}