.sobre {
  padding: 120px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.sobre img {
 width: 15%;
}

.sobre p {
  font: 300 1rem/1.6 'OpenSans', sans-serif;
  color: var(--roxo);
  text-align: center;
  max-width: 60ch;
}

@media (max-width: 768px) { 
  .sobre {
    padding: 60px 20px;
    gap: 40px;
  }
  .sobre img {
    width: 35%;
   }
}